html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 400; }

.chapter {
  padding: 10px 0px 60px 0px; }
  .chapter:nth-child(2n+1) {
    background-color: #fafafa; }
  .chapter .chapter-content {
    max-width: 1900px;
    margin: 0px auto; }
    .chapter .chapter-content.intro {
      max-width: 1080px; }
    @media only screen and (min-width: 1024px) {
      .chapter .chapter-content .column {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 30px); }
        .chapter .chapter-content .column:nth-child(2n) {
          padding-right: 10px; }
        .chapter .chapter-content .column:nth-child(2n+1) {
          padding-left: 10px; }
        .chapter .chapter-content .column p {
          max-width: 600px; } }

h1 {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 100;
  text-align: center; }

h2 {
  font-size: 1.75rem;
  font-weight: 400; }

h3 {
  font-size: 1.1rem;
  font-weight: 100; }

a {
  color: #0050c5;
  text-decoration: none; }
  a:active, a:hover, a:visited {
    color: #0078d7; }

p a {
  text-decoration: underline; }

pre {
  overflow-x: auto;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px; }
  pre code {
    font-size: 0.875rem; }

code {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif; }

