@import "_variables.scss";

.chapter {
    padding: 4*$padding 3*$padding;

    &:nth-child(2n+1) {
        background-color: $color-section;
    }

    > *:not(.columns) {
        padding: 0 3*$padding;
    }
}

.columns {
    display: flex;
    flex-direction: row;

    > div {
        flex: 1 1 50%;
        overflow-x: hidden;
        padding: 0 3*$padding;

        pre {
            max-width: 100%; 
            overflow-x: auto;
            background-color: $color-code-background-secondary;
            border: 1px solid $color-border;
            border-radius: $border-radius;
            padding: $padding;

            code {
                font-size: 0.875rem;
            }
        }

        &:nth-child(2n) {
            pre {
                background-color: $color-code-background-primary;
                border-color: $color-primary;
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        display: block;
    }
}