@import "_variables.scss";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10*$padding 6*$padding 6*$padding 6*$padding;
    background: url("../Images/pattern.png");
    background-size: auto 189px;
    background-repeat: repeat-x;
}

.header-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 100%;

    img {
        width: 340px;
        max-width: 100%;
        margin: 0 4*$padding 0 0;
    }

    h1 {
        margin: 2*$padding 0 1.5*$padding 0;
    }
}

main {
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &.chapter {
        background-color: $color-background !important;
    }

    img {
        width: 100px;
    }
}



