@import "_variables.scss";

.intro {
    line-height: 2.5;
    max-width: 100%;

    p {
        margin: 0;
    }

    .intense {
        margin-top: 4*$padding;
    }
}

.chapter {
    --padding-x: 56px;
    --padding-y: 48px;
    padding: var(--padding-y) var(--padding-x);
    background-color: white;

    &:nth-child(even) {
        background-color: $color-section;
    }


    @media only screen and (max-width: 1440px) {
        --padding-x: 32px;
    }

    @media only screen and (max-width: 1366px) {
        --padding-x: 24px;
    }

    @media only screen and (max-width: 1024px) {
        --padding-x: 16px;
        --padding-y: 32px;
    }

    @media screen and (max-width: 425px) {
        padding: 2*$padding 16px;
    }
}

.columns {
    --col-count: 2;
    --gap: 40px;
    display: grid;
    grid-template-columns: repeat(var(--col-count), minmax(16px, 1fr));
    align-items: stretch;
    justify-content: space-between;
    grid-gap: var(--gap);

    @media screen and (max-width: 1024) {
        --col-count: 1;
        --gap: 32px;
    }

    > div {


        pre {
            max-width: 100%;
            overflow-x: auto;
            background-color: $color-code-background-secondary;
            border: 1px solid $color-border;
            border-radius: $border-radius;
            padding: $padding;

            code {
                font-size: 0.875rem;
            }
        }

        &:nth-child(2n) {
            pre {
                background-color: $color-code-background-primary;
                border-color: $color-primary;
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        display: block;
    }
}
