@import "_variables.scss";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}


body {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    padding-top: var(--nav-height);

    nav {
        flex: 0 0 auto;
        width: 100%;
    }

    header {
        flex: 0 0 auto;
        width: 100%;
    }

    main {
        flex: 1 1 auto;
        width: 100%;
    }

    footer {
        flex: 0 0 auto;
        width: 100%;
    }
}

.header {
    background-color: $color-section;
    --padding-x: 56px;
    --padding-y: 80px;
    padding: var(--padding-y) var(--padding-x);

    @media only screen and (max-width: 1440px) {
        --padding-x: 32px;
    }

    @media only screen and (max-width: 1366px) {
        --padding-x: 24px;
        --padding-y: 56px;
    }

    @media only screen and (max-width: 1024px) {
        --padding-x: 16px;
        --padding-y: 48px;
    }


    &__content {
    }

    &__title {
        font-size: xx-large;
        margin-top: 0;
    }

    &__desc {
    }

    &__buttons {
        margin-top: 24px;
        display: inline-flex;
        flex-flow: row wrap;
        width: max-content;
        align-items: stretch;
        justify-content: flex-start;
        grid-gap: 16px;

        @media screen and (max-width: 768px) {
            grid-gap: 8px;
            width: 100%;
        }
    }
}
