@import "_variables.scss";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}


body {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    padding-top: var(--nav-height);

    nav {
        flex: 0 0 auto;
        width: 100%;
    }

    header {
        flex: 0 0 auto;
        width: 100%;
    }

    main {
        flex: 1 1 auto;
        width: 100%;
    }

    footer {
        flex: 0 0 auto;
        width: 100%;
    }
}

header {
    padding: 5*$padding 6*$padding 6*$padding 6*$padding;
    background-color: $color-section;

    menu {
        float: right;

        li {
            display: inline-block;
            list-style-type: none;
            background-color: $color-border;
            padding: 1em 3em;

            a, a:hover {
                color: $color-header;
            }

            &.active {
                background-color: $color-primary;

                a, a:hover {
                    color: $color-background;
                }
            }
        }
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-title {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        max-width: 100%;

        img {
            width: 200px;
            max-width: 100%;
            margin: 0 4*$padding 0 0;
        }

        h1 {
            margin: 2*$padding 0 1.5*$padding 0;
        }
    }
}
