$color-background: #fff;
$color-primary: #337ab7;
$color-secondary: #27bf89;
$color-header: #3C3D3B;
$color-section: #f1f6fe;
$color-code-background-primary: #EBF0F4;
$color-code-background-secondary: #fafafa;
$color-border: #ccc;
$padding: 0.6rem;
$border-radius: 4px;
