html {
  font-family: "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  color: #3C3D3B;
  max-width: 1680px;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.6rem;
  font-weight: 300;
}

h4 {
  font-size: 1.3rem;
  font-weight: 400;
}

h5 {
  font-size: 1.3rem;
  font-weight: 300;
}

.intense {
  font-size: 130%;
  font-weight: 100;
}

a {
  color: #337ab7;
  transition: all ease-in 0.1s;
  text-decoration: none;
  font-weight: 500;
}
a:active:not([class]), a:hover:not([class]) {
  color: #27bf89;
}

code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  padding-top: var(--nav-height);
}
body nav {
  flex: 0 0 auto;
  width: 100%;
}
body header {
  flex: 0 0 auto;
  width: 100%;
}
body main {
  flex: 1 1 auto;
  width: 100%;
}
body footer {
  flex: 0 0 auto;
  width: 100%;
}

.header {
  --template-col: 8fr 5fr;
  --pad-i: 56px;
  --pad-b: 54px;
  --gap: 32px;
  display: grid;
  grid-template-columns: var(--template-col);
  align-items: baseline;
  gap: var(--gap);
  background-color: #f1f6fe;
  padding-inline: var(--pad-i);
  padding-block: var(--pad-b);
}
@media only screen and (max-width: 1440px) {
  .header {
    --pad-i: 32px;
  }
}
@media only screen and (max-width: 1366px) {
  .header {
    --pad-i: 24px;
  }
}
@media only screen and (max-width: 1280px) {
  .header {
    --pad-b: 48px;
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    --pad-i: 16px;
  }
}
@media only screen and (max-width: 820px) {
  .header {
    --template-col: 1fr;
    --gap: 16px;
  }
}
.header__title {
  font-size: xx-large;
  margin-top: 0;
}
.header__buttons {
  display: inline-flex;
  flex-flow: row wrap;
  width: max-content;
  align-items: stretch;
  justify-content: flex-start;
  grid-gap: 16px;
}
@media screen and (max-width: 768px) {
  .header__buttons {
    grid-gap: 8px;
    width: 100%;
  }
}

.intro {
  line-height: 2.5;
  max-width: 100%;
}
.intro p {
  margin: 0;
}
.intro .intense {
  margin-top: 2.4rem;
}

.chapter {
  --padding-x: 56px;
  --padding-y: 48px;
  padding: var(--padding-y) var(--padding-x);
  background-color: white;
}
.chapter:nth-child(even) {
  background-color: #f1f6fe;
}
@media only screen and (max-width: 1440px) {
  .chapter {
    --padding-x: 32px;
  }
}
@media only screen and (max-width: 1366px) {
  .chapter {
    --padding-x: 24px;
  }
}
@media only screen and (max-width: 1024px) {
  .chapter {
    --padding-x: 16px;
    --padding-y: 32px;
  }
}
@media screen and (max-width: 425px) {
  .chapter {
    padding: 1.2rem 16px;
  }
}

.columns {
  --col-count: 2;
  --gap: 40px;
  display: grid;
  grid-template-columns: repeat(var(--col-count), minmax(16px, 1fr));
  align-items: stretch;
  justify-content: space-between;
  grid-gap: var(--gap);
}
@media screen and (max-width: 1024) {
  .columns {
    --col-count: 1;
    --gap: 32px;
  }
}
.columns > div pre {
  max-width: 100%;
  overflow-x: auto;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.6rem;
}
.columns > div pre code {
  font-size: 0.875rem;
}
.columns > div:nth-child(2n) pre {
  background-color: #EBF0F4;
  border-color: #337ab7;
}
@media only screen and (max-width: 1024px) {
  .columns {
    display: block;
  }
}

header {
  padding-bottom: 0.6rem;
}

.page-nav {
  --padding-x: 56px;
  --padding-y: 32px;
  margin: 0;
  padding: var(--padding-y) var(--padding-x);
  padding-bottom: 0;
  display: inline-flex;
  flex-flow: row wrap;
  width: max-content;
  align-items: stretch;
  justify-content: flex-start;
  grid-gap: 16px;
}
@media only screen and (max-width: 1440px) {
  .page-nav {
    --padding-x: 32px;
  }
}
@media only screen and (max-width: 1366px) {
  .page-nav {
    --padding-x: 24px;
  }
}
@media only screen and (max-width: 1024px) {
  .page-nav {
    --padding-x: 16px;
    --padding-y: 16px;
  }
}
@media screen and (max-width: 768px) {
  .page-nav {
    grid-gap: 8px;
    width: 100%;
  }
}

.panel {
  border: solid 1px #EBF0F4;
  margin-bottom: 1em;
}
.panel .panel-heading {
  background-color: #fafafa;
  padding: 0.5em 0.2em;
}

.step-1 div {
  --padding-x: 56px;
  --padding-y: 32px;
  padding: var(--padding-y) var(--padding-x);
  background-color: white;
}
@media only screen and (max-width: 1440px) {
  .step-1 div {
    --padding-x: 32px;
  }
}
@media only screen and (max-width: 1366px) {
  .step-1 div {
    --padding-x: 24px;
  }
}
@media only screen and (max-width: 1024px) {
  .step-1 div {
    --padding-x: 16px;
    --padding-y: 16px;
  }
}
.step-1 div.buttons {
  padding-top: 0;
}
.step-1 .code-editor {
  width: 100%;
  min-height: 500px;
  height: calc(100vh - 600px);
  font-size: 16px;
  font-family: Consolas, Courier New, Courier, monospace;
}
.step-1 .buttons {
  text-align: right;
}

.step-2 .toolbar {
  padding: 0 2em;
  text-align: right;
  margin-top: -2em;
  margin-bottom: 2em;
}
.step-2 .scrollable-area {
  margin-bottom: 1em;
  display: flex;
}
.step-2 .scrollable-area > div {
  padding: 0 2em;
  min-height: 500px;
  height: calc(100vh - 600px);
  overflow-y: auto;
}
.step-2 .scrollable-area > div:first-child {
  flex: 6;
  background-color: #fafafa;
}
.step-2 .scrollable-area > div:last-child {
  flex: 4;
}
.step-2 .panel .expand-button {
  display: none;
}
.step-2 .panel .collapse-button {
  display: inline;
}
.step-2 .panel.collapsed .group-items {
  display: none;
}
.step-2 .panel.collapsed .expand-button {
  display: inline;
}
.step-2 .panel.collapsed .collapse-button {
  display: none;
}
.step-2 .panel .group-header {
  width: 100%;
  table-layout: fixed;
}
.step-2 .panel .group-header tr td {
  padding: 0.5em 0.2em;
  text-align: center;
}
.step-2 .panel .group-header tr td:first-child {
  width: 60%;
  text-align: left;
}
.step-2 .panel .group-header tr td:first-child a {
  color: black;
  text-decoration: none;
}
.step-2 .panel .group-items {
  width: 100%;
  table-layout: fixed;
}
.step-2 .panel .group-items tr td {
  padding: 0.5em 0.2em;
  text-align: center;
}
.step-2 .panel .group-items tr td:first-child {
  width: 60%;
  text-align: left;
}

.step-3 {
  padding: 0 2em;
}
.step-3 .toolbar {
  float: right;
}
.step-3 .panel-heading {
  background-color: #EBF0F4;
  padding: 1em 0 1em 1em;
  font-weight: bold;
}
.step-3 .panel-body {
  background-color: #fafafa;
}

pre {
  overflow-x: hidden;
  text-wrap: normal;
  white-space: pre-wrap;
  margin: 0;
  padding: 0.5em;
}
pre code {
  font-size: 16px;
  font-family: Consolas, Courier New, Courier, monospace;
}
pre code b {
  font-weight: normal;
}
pre code b.y {
  background-color: yellow;
}
pre code b.b {
  color: blue;
}
pre code b.m {
  color: maroon;
}
pre code b.r {
  color: red;
}
pre code b.g {
  color: green;
}
pre code b span {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: green;
  cursor: pointer;
}
@keyframes highlight {
  from {
    background-color: #ff00ff;
  }
  to {
    background-color: transparent;
  }
}
pre .highlight {
  animation: highlight 2s;
}
