html {
  font-family: "Segoe UI", SegoeUI, "Segoe WP", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black; }

h1, h2, h3, h4, h5, h6 {
  color: #3C3D3B;
  max-width: 1680px; }

h1 {
  font-size: 2.4rem;
  font-weight: 700; }

h2 {
  font-size: 1.6rem;
  font-weight: 600; }

h3 {
  font-size: 1.6rem;
  font-weight: 300; }

h4 {
  font-size: 1.3rem;
  font-weight: 400; }

h5 {
  font-size: 1.3rem;
  font-weight: 300; }

.intense {
  font-size: 130%;
  font-weight: 100; }

a {
  color: #337ab7;
  transition: all ease-in .1s;
  text-decoration: none;
  font-weight: 500; }
  a:active:not([class]), a:hover:not([class]) {
    color: #27bf89; }

code {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0px;
  padding: 0px; }

body {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  padding-top: var(--nav-height); }
  body nav {
    flex: 0 0 auto;
    width: 100%; }
  body header {
    flex: 0 0 auto;
    width: 100%; }
  body main {
    flex: 1 1 auto;
    width: 100%; }
  body footer {
    flex: 0 0 auto;
    width: 100%; }

.header {
  background-color: #f1f6fe;
  --padding-x: 56px;
  --padding-y: 80px;
  padding: var(--padding-y) var(--padding-x); }
  @media only screen and (max-width: 1440px) {
    .header {
      --padding-x: 32px; } }
  @media only screen and (max-width: 1366px) {
    .header {
      --padding-x: 24px;
      --padding-y: 56px; } }
  @media only screen and (max-width: 1024px) {
    .header {
      --padding-x: 16px;
      --padding-y: 48px; } }
  .header__title {
    font-size: xx-large;
    margin-top: 0; }
  .header__buttons {
    margin-top: 24px;
    display: inline-flex;
    flex-flow: row wrap;
    width: max-content;
    align-items: stretch;
    justify-content: flex-start;
    grid-gap: 16px; }
    @media screen and (max-width: 768px) {
      .header__buttons {
        grid-gap: 8px;
        width: 100%; } }

.intro {
  line-height: 2.5;
  max-width: 100%; }
  .intro p {
    margin: 0; }
  .intro .intense {
    margin-top: 2.4rem; }

.chapter {
  --padding-x: 56px;
  --padding-y: 48px;
  padding: var(--padding-y) var(--padding-x);
  background-color: white; }
  .chapter:nth-child(even) {
    background-color: #f1f6fe; }
  @media only screen and (max-width: 1440px) {
    .chapter {
      --padding-x: 32px; } }
  @media only screen and (max-width: 1366px) {
    .chapter {
      --padding-x: 24px; } }
  @media only screen and (max-width: 1024px) {
    .chapter {
      --padding-x: 16px;
      --padding-y: 32px; } }
  .chapter > *:not(.columns) {
    padding: 0 1.8rem; }
    @media screen and (max-width: 425px) {
      .chapter > *:not(.columns) {
        padding: 0; } }
  @media screen and (max-width: 425px) {
    .chapter {
      padding: 1.2rem 16px; } }

.columns {
  display: flex;
  flex-direction: row; }
  .columns > div {
    flex: 1 1 50%;
    overflow-x: hidden;
    padding: 0 1.8rem; }
    @media screen and (max-width: 425px) {
      .columns > div {
        padding: 0; } }
    .columns > div pre {
      max-width: 100%;
      overflow-x: auto;
      background-color: #fafafa;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0.6rem; }
      .columns > div pre code {
        font-size: 0.875rem; }
    .columns > div:nth-child(2n) pre {
      background-color: #EBF0F4;
      border-color: #337ab7; }
  @media only screen and (max-width: 1024px) {
    .columns {
      display: block; } }
