<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="TelemetryCorrelationHttpModule" />
      <remove name="ApplicationInsightsWebTracking" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <aspNetCore processPath="dotnet" arguments=".\DotVVM.Utils.AspxConverter.UI.dll" forwardWindowsAuthToken="false" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" startupTimeLimit="3600" requestTimeout="23:00:00" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="VirtualDirectory" value="webforms" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  <system.web>
    <httpModules>
      <remove name="ApplicationInsightsWebTracking" />
      <remove name="TelemetryCorrelationHttpModule" />
    </httpModules>
  </system.web>
</configuration>